<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATiSayyE_hnm-0-mv8u6Lx7GvtrZAQkP8</string>
	<key>GCM_SENDER_ID</key>
	<string>619969539937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TercescrowTeam</string>
	<key>PROJECT_ID</key>
	<string>tercescrow-e003b</string>
	<key>STORAGE_BUCKET</key>
	<string>tercescrow-e003b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619969539937:ios:9719994ba51a62f6e35f20</string>
</dict>
</plist>